/* REMOVE MENUS */
body.fl-with-top-menu {
	padding-top: 0;
}

.fl-viewport-header,
.fl-menu-circle-header,
.fl-menu-circle-nav-holder,
.fl-bottom-bar-menu-holder,
.fl-bottom-bar-menu-holder-mobile {
	display: none !important;
}

/* Screen Defaults */

.mode-interact .fl-widget-instance[data-name="Onboarding Slides"] {
  position: static;
}

/* ONBOARDING */
.mode-interact .onboarding-holder {
	pointer-events: none;
}

.onboarding-holder {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;

	position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.2s ease-out;
}

.onboarding-wrapper {
	opacity: 1;
  transition: opacity 0.2s ease-out;
}

.loading .onboarding-wrapper {
	opacity: 0;
}


.onboarding-content {
  position: absolute;
  top: 0;
  top: env(safe-area-inset-top);
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.swiper-container {
	position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.swiper-wrapper {
	position: relative;
	width: 100%;
	height: 100% !important;
  margin: 0px;
}

.swiper-slide {
	width: 100% !important;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100% !important;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 16px;
	color: #333333;
}

.swiper-slide-content {
	width: 80%;
	background-color: #ffffff;
  box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	padding: 30px;
	max-height: 85%;
	overflow-y: auto;
	overflow-x: hidden;
}

.onboarding-holder .image-holder {
	padding-top: 52%;
	background-color: #c2c2c2;
	position: relative;
	margin-bottom: 10px;
}

.onboarding-holder .image-holder .fa {
	position: absolute;
	color: #333333;
	top: calc(50% - 20px);
	left: calc(50% - 22px);
	font-size: 40px;
	width: 45px;
	text-align: center;
}

.onboarding-holder.placeholder {
	opacity: 0.5;
	cursor: pointer;
	-webkit-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
	-webkit-user-modify: read-only !important;
}

.onboarding-content img {
	max-width: 100%;
	height: auto;
	margin-bottom: 10px;
}

.ob-top-nav {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	background-color: transparent;
	line-height: 34px;
	padding: 5px 15px;
	z-index: 5;
}

.ob-top-nav .ob-skip {
	color: #777777;
	font-size: 1em;
	text-align: right;
}

.ob-top-nav .ob-skip span {
	cursor: pointer;
	padding: 5px 0;
}

.ob-bottom-nav {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: transparent;
	color: #777777;
	font-size: 1em;
	line-height: 34px;
	padding: 5px 60px;
	z-index: 5;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.ob-bottom-nav .swiper-pagination {
	position: relative;
}

.swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	margin-right: 5px;
	opacity: 1;
	background-color: rgba(0,0,0,0.1);
}

.swiper-pagination-bullet:last-child {
	margin-right: 0;
}

.swiper-pagination-bullet-active {
	opacity: 1;
	background: #337ab7;
}

.onboarding-content .swiper-button-next,
.onboarding-content .swiper-button-prev {
	background-image: none;
	position: absolute;
  top: auto;
  bottom: 15px;
  width: 44px;
  padding: 0;
  height: 44px;
  cursor: default;
  margin-top: 0;
  z-index: 10;
  line-height: 44px;
  font-size: 38px;
  color: #333333;
  text-align: center;
  border-radius: 50%;
  background-color: #ffffff;
}

.onboarding-content .swiper-button-prev {
	left: 15px;
}

.onboarding-content .swiper-button-next {
	right: 15px;
}

.onboarding-content .swiper-button-prev .fa {
	margin-left: -4px;
}

.onboarding-content .swiper-button-next .fa {
	margin-right: -4px;
}

.onboarding-content .swiper-button-next,
.onboarding-content .swiper-button-prev {
	cursor: pointer;
}

.onboarding-content .swiper-button-next.swiper-button-disabled,
.onboarding-content .swiper-button-prev.swiper-button-disabled {
	opacity: 0;
	cursor: default;
}
/* END OF ONBOARDING */
/* SLIDE CONTENT ANIMATION */
.swiper-wrapper.animated .swiper-slide img {
	opacity: 0;
	-webkit-transform: translate3d(35px,0,0);
	transform: translate3d(35px,0,0);
	-webkit-transition: all 0.55s ease-out 0.10s;
	transition: all 0.55s ease-out 0.10s;
}

.swiper-wrapper .swiper-slide h1 {
	margin-top: 0;
  margin-bottom: 0;
}

.swiper-wrapper.animated .swiper-slide h1 {
	opacity: 0;
	-webkit-transform: translate3d(35px,0,0);
	transform: translate3d(35px,0,0);
	-webkit-transition: all 0.55s ease-out 0.25s;
	transition: all 0.55s ease-out 0.25s;
}

.swiper-wrapper .swiper-slide p {
	margin-bottom: 0;
	color: rgba(51, 51, 51, 0.7);
}

.swiper-wrapper .swiper-slide p + .btn-primary,
.swiper-wrapper .swiper-slide h1 + .btn-primary {
	margin-top: 15px;
}

.swiper-wrapper.animated .swiper-slide p {
	opacity: 0;
	-webkit-transform: translate3d(35px,0,0);
	transform: translate3d(35px,0,0);
	-webkit-transition: all 0.55s ease-out 0.40s;
	transition: all 0.55s ease-out 0.40s;
}

.swiper-wrapper.animated .swiper-slide input {
	opacity: 0;
	-webkit-transform: translate3d(35px,0,0);
	transform: translate3d(35px,0,0);
	-webkit-transition: all 0.55s ease-out 0.55s;
	transition: all 0.55s ease-out 0.55s;
}

.swiper-wrapper.animated .swiper-slide.swiper-slide-prev img {
	opacity: 0;
	-webkit-transform: translate3d(-35px,0,0);
	transform: translate3d(-35px,0,0);
	-webkit-transition: all 0.55s ease-out 0.10s;
	transition: all 0.55s ease-out 0.10s;
}

.swiper-wrapper.animated .swiper-slide.swiper-slide-prev h1 {
	opacity: 0;
	-webkit-transform: translate3d(-35px,0,0);
	transform: translate3d(-35px,0,0);
	-webkit-transition: all 0.55s ease-out 0.25s;
	transition: all 0.55s ease-out 0.25s;
}

.swiper-wrapper.animated .swiper-slide.swiper-slide-prev p {
	opacity: 0;
	-webkit-transform: translate3d(-35px,0,0);
	transform: translate3d(-35px,0,0);
	-webkit-transition: all 0.55s ease-out 0.40s;
	transition: all 0.55s ease-out 0.40s;
}

.swiper-wrapper.animated .swiper-slide.swiper-slide-prev input {
	opacity: 0;
	-webkit-transform: translate3d(-35px,0,0);
	transform: translate3d(-35px,0,0);
	-webkit-transition: all 0.55s ease-out 0.55s;
	transition: all 0.55s ease-out 0.55s;
}

.swiper-wrapper.animated .swiper-slide.swiper-slide-active img {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: all 0.55s ease-out 0.10s;
	transition: all 0.55s ease-out 0.10s;
}

.swiper-wrapper.animated .swiper-slide.swiper-slide-active h1 {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: all 0.55s ease-out 0.25s;
	transition: all 0.55s ease-out 0.25s;
}

.swiper-wrapper.animated .swiper-slide.swiper-slide-active p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: all 0.55s ease-out 0.40s;
	transition: all 0.55s ease-out 0.40s;
}

.swiper-wrapper.animated .swiper-slide.swiper-slide-active input {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: all 0.55s ease-out 0.55s;
	transition: all 0.55s ease-out 0.55s;
}
/* SLIDE CONTENT ANIMATION */
/* Buttons */
.btn-primary {
	display: block;
	clear: both;
	width: 100%;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 24px;
	border: none;
	text-align: center;
	cursor: pointer;
	border-radius: 6px;
}

.btn-secondary {
	display: block;
	clear: both;
	width: 100%;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 24px;
	border: none;
	border-radius: 6px;
	text-align: center;
	cursor: pointer;
}

.btn-primary:focus,
.btn-primary:hover,
.btn-secondary:focus,
.btn-secondary:hover,
.btn:active:focus {
	outline: none;
}

.btn-danger {
	display: block;
	clear: both;
	width: 100%;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border: none;
	border-radius: 6px;
	text-align: center;
	cursor: pointer;
}

.btn-danger:active,
.btn-danger:active:focus,
.btn-danger:active:hover,
.btn-danger:focus,
.btn-danger:hover {
	color: #FFF;
	background-color: #c9302c;
	border-color: #c9302c;
	outline: none;
}
@media (min-width:640px) {
	.btn-primary,
	.btn-secondary {
		clear: none;
		display: inline-block;
		width: auto;
		max-width: 100%;
	}
}

.btn-link,
a {
	text-decoration: underline;
}

.swiper-button-next,
.swiper-button-prev {
	display: none;
}

.platform-web .swiper-button-next,
.platform-web .swiper-button-prev {
	display: block;
}

@media screen and (min-width: 640px) {
	.swiper-slide-content {
		max-width: 500px;
	}
}